---
import Navigation from '../core/Navigation.astro'
import SkipLink from '../core/SkipLink.astro'
import Link from '../core/Link.astro'
import DarkMode from '../core/DarkMode.astro'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <Link href="/">Início</Link>
    </li>
    <li class="menu-item">
      <Link href="/blog/">Componentes</Link>
    </li>
    <li class="menu-item">
      <Link href="/blog/">Blog</Link>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Recursos do Site
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="/accessibility-statement">Declaração de acessibilidade</Link>
        </li>
        <li class="submenu-item">
          <Link href="/color-contrast-checker">Verificador de contraste de cores</Link>
        </li>
        <li class="submenu-item">
          <Link href="/sitemap">Sitemap</Link>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <Link href="/contact/">Contato</Link>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <Link href="https://github.com/Gabrielbsb21/guia-acessibilidade-na-web">
        <Icon aria-hidden="true" name="lucide:github" />
        <span class="sr-only">Ir para a página do Github</span>
      </Link>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon aria-hidden="true" name="lucide:moon" slot="light" />
        <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
