---
import { Image } from 'astro:assets'
import logo from '../../assets/img/logo.svg'

interface Props {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: 'eager' | 'lazy'
}

const { loading = 'eager' }: Props = Astro.props
---

<a href="/" class="flex items-center gap-2">
  <Image src={logo} alt="Logo Guia Acessibilidade na web" width="47" height="37" loading={loading} />
  <span class="font-bold">Guia Acessibilidade na web</span>
</a>